
{{#each this}}
<li class="gallery__item">
     <img class="gallery__image" src="https://image.tmdb.org/t/p/w154{{poster_path}}" alt="{{title}}" >
   <p>Original Title: {{original_title}}</p>
   <p>Overview: {{overview}}</p>
   <p>Popularity: {{popularity}}</p>
  
  

   <p>Release Date: {{release_date}}</p>
</li>
{{/each}}



