
{{#each this}}
<li class="gallery__item">
   <p>Original Title: {{original_title}}</p>
   <p>Overview: {{overview}}</p>
   <p>Popularity: {{popularity}}</p>
   <p>Poster Path: {{poster_path}}</p>
   <p>Release Date: {{release_date}}</p>
</li>
{{/each}}



